@mixin typography($size: 18, $weight: 400, $family: 'Open Sans') {
	color: #000;
	font-weight: $weight;
	font-size: $size;
	font-family: $family;
	line-height: normal;
	letter-spacing: 0;
}

.text {
	@include typography(18, 400, 'Open Sans');
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}

.cormorant-garamond {
	font-family: 'Cormorant Garamond', sans-serif;
}

.days-one {
	font-family: 'Days One', sans-serif;
}

.merriweather {
	font-family: 'Merriweather', sans-serif;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.size {
	&12 {
		font-size: 12px;
	}

	&18 {
		font-size: 18px;
	}

	&22 {
		font-size: 22px;
	}

	&25 {
		font-size: 25px;
	}

	&31 {
		font-size: 31px;
	}

	&45 {
		font-size: 45px;
	}
}

.weight {
	&400 {
		font-weight: 400;
	}

	&800 {
		font-weight: 800;
	}
}

.normal {
	font-style: normal;
}

.italic {
	font-style: italic;
}

.dynamic {
	color: var(--font-color, #000);
	font-size: var(--font-size, 18px);
	font-family: var(--font-family, 'Open Sans');

	&Lite {
		color: var(--font-color, #000);
		font-family: var(--font-family, 'Open Sans');
	}
}
